@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}


.transition-transform {
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

.pop-effect-button{
    transition: all 0.2s;
}

.pop-effect-button:active{
    transform: scale(0.9);
}

.pop-item-click > img{
    transition: all 0.2s;
}

.pop-item-click:active > img{
    transform: scale(0.9);
}

